.alphaFilter {
}

.alpha-letters {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 4px 5px;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.alpha-letters-inactive {
  background-color: #eaebeb!important;
  color: #504f4f!important;
  margin-left: 10px!important;
  margin-top: 20px!important;
  min-width: 50px!important;
  &:focus {
    background-color: #007cba!important;
    color: #fff!important;
    outline: none!important;
  }
}

.alpha-letters-active {
  background-color: #504f4f!important;
  color: #fff!important;
  margin-left: 10px!important;
  margin-top: 20px!important;
  min-width: 50px!important;
  &:hover {
    background-color: #fff!important;
    color: #367bb5!important;
  }
  &:focus{
    background-color: #007cba!important;
    color: #fff!important;
    outline: none!important;
  }
}

.alpha-letters-clicked {
  background-color: #007cba!important;
  color: #fff!important;
  outline: none!important;
}

.alphaMain {
  padding: 24px;
}

.alphaColumns {
  margin-top: 40px;
  column-count: 3;
}

.alphaList {
  margin-bottom: 1rem;
  padding-left: 2rem;
}