// Custom theme settings/USWDS overrides go here
@use '@uswds/uswds/packages/uswds-core/index.scss' with (
  $theme-image-path: '@uswds/uswds/img',
  $theme-font-path: '@uswds/uswds/fonts',
  $theme-show-notifications: false
);